#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 6px solid;
    border-color: whitesmoke;
}
#scoreText{
    font-family: "consolas", monospace;
    font-size: 80px;
    color: #D6D5A8;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: #D6D5A8;
}

#outDiv{
    text-align: center;
}

.playerInstructions{
    font-family: cursive;
    color: #D6D5A8;
    font-weight: bold;
    font-size: 22px;
}

body{
    background-color: #1B2430;
}